@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body, html 
{
    height: 100%;
    font-family: 'Quicksand', sans-serif;
  }
  
  .parallax 
  {
    /* The image used */
    background-image: url('croper3.png');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}